public/flow/MQTT_sub.json
[{"id":"43fb4700.d2b768","type":"debug","z":"8999d696.4e34e8","name":"","active":true,"console":"false","complete":"payload","x":330,"y":74,"wires":[]},{"id":"71ae6b11.100324","type":"function","z":"8999d696.4e34e8","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg(msg.payload);\nif(parseData === null){\n    node.warn('Repeat message drop!!!');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":400.37503814697266,"y":177.38673782348633,"wires":[[]]},{"id":"c61f5371.e385e","type":"mqtt in","z":"8999d696.4e34e8","name":"mqtt","topic":"GIOT-GW/UL/+","qos":"2","broker":"4b900b40.fe81d4","x":89.00001525878906,"y":74.61112213134766,"wires":[["43fb4700.d2b768","ae7e03a5.da29f"]]},{"id":"1877109b.647bbf","type":"inject","z":"8999d696.4e34e8","name":"","topic":"","payload":"{\"macAddr\":\"0000000005010be6\",\"data\":\"fb0101880a940600eb024d4b520000\",\"timestamp\":1519200414000,\"recv\":\"2018-02-21T08:06:54\",\"date\":\"2018-02-21 16:06:54\",\"extra\":{\"gwip\":\"192.168.1.100\",\"gwid\":\"00001c497b48dc21\",\"rssi\":-39,\"snr\":30.8,\"fport\":6,\"frameCnt\":8,\"channel\":923125000},\"information\":{\"temperature\":23.41,\"humidity\":53.79,\"t2\":23.6,\"h2\":59}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":98,"y":227.00000953674316,"wires":[["ae7e03a5.da29f"]]},{"id":"ae7e03a5.da29f","type":"json","z":"8999d696.4e34e8","name":"","x":198.30001068115234,"y":174.5333366394043,"wires":[["71ae6b11.100324"]]},{"id":"4b900b40.fe81d4","type":"mqtt-broker","z":"","broker":"210.242.93.31","port":"1883","tls":"","clientid":"200000233-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]