public/flow/ws_index.json
[{"id":"4b8dc3b6.951bcc","type":"websocket in","z":"9bad82d3.73747","name":"web socket index - in","server":"abc64386.ef263","client":"","x":130,"y":467,"wires":[["c59640e.3a501c"]]},{"id":"c59640e.3a501c","type":"function","z":"9bad82d3.73747","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":412.44444274902344,"y":484.3333330154419,"wires":[["ed9b7b58.0b5e18"],["6a5d47e8.bbc178"]]},{"id":"8ddb0c9b.2119c","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":859.4444427490234,"y":507.00000381469727,"wires":[["ed9b7b58.0b5e18"]]},{"id":"ed9b7b58.0b5e18","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"abc64386.ef263","client":"","x":1148.4444427490234,"y":467.00000381469727,"wires":[]},{"id":"61dca628.328d38","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":108.44444274902344,"y":420.00000381469727,"wires":[]},{"id":"6a5d47e8.bbc178","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":619.4444427490234,"y":507.00000381469727,"wires":[["8ddb0c9b.2119c"]]},{"id":"b7a6215e.c888b","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"1efaaa2b.a92da6","client":"","x":886.5633544921875,"y":744.3999938964844,"wires":[]},{"id":"be5e8aed.fe8cb8","type":"websocket in","z":"9bad82d3.73747","name":"web socket tools - in","server":"1efaaa2b.a92da6","client":"","x":123.89668273925781,"y":659.4000005722046,"wires":[["ba3ae481.b0c378","1d9ab1a7.cc60fe"]]},{"id":"33efa9a0.cb85a6","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/devices","info":"","x":110.5633544921875,"y":619.3999938964844,"wires":[]},{"id":"ba3ae481.b0c378","type":"function","z":"9bad82d3.73747","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":107.00779724121094,"y":743.3999900817871,"wires":[["f53a32e3.17592"]]},{"id":"1d9ab1a7.cc60fe","type":"debug","z":"9bad82d3.73747","name":"","active":false,"console":"false","complete":"payload","x":436.8133544921875,"y":657.0171813964844,"wires":[]},{"id":"f53a32e3.17592","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":304.5633544921875,"y":743.3999938964844,"wires":[["c49211f1.6e101","c0f72c15.8506c"]]},{"id":"c49211f1.6e101","type":"debug","z":"9bad82d3.73747","name":"","active":false,"console":"false","complete":"false","x":417.8055419921875,"y":823.0171813964844,"wires":[]},{"id":"c0f72c15.8506c","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":585.5633544921875,"y":745.3999938964844,"wires":[["b7a6215e.c888b"]]},{"id":"c50e5971.63e358","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":119.50865173339844,"y":861.0137023925781,"wires":[]},{"id":"85c5a06.fb52a6","type":"function","z":"9bad82d3.73747","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":124.50863647460938,"y":981.0137023925781,"wires":[["4ddc4358.90093c"],["bd71cf70.43b62"]]},{"id":"7c4e690.3f6a898","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\n\nmsg.payload = {id:\"change_table1\", v: dataString,type: 'gateway'}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":849.5086669921875,"y":1033.0137023925781,"wires":[["4ddc4358.90093c","ab8d437d.ca1dc"]]},{"id":"4ddc4358.90093c","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"352c287b.4d7588","client":"","x":1165.5086669921875,"y":954.0137023925781,"wires":[]},{"id":"6266040e.a5f77c","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":581.5086669921875,"y":1036.0137023925781,"wires":[["7c4e690.3f6a898","a257fa80.c83378"]]},{"id":"75b46cca.10ac94","type":"websocket in","z":"9bad82d3.73747","name":"Web Socket gateway - in","server":"352c287b.4d7588","client":"","x":118,"y":921.6161441802979,"wires":[["85c5a06.fb52a6"]]},{"id":"bd71cf70.43b62","type":"function","z":"9bad82d3.73747","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID');\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar host = obj.host;\nvar port = obj.port;\ncontext.global.selectedMac= mac;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {};\n\nif(arrId !== undefined){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[1]+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2];\n}else{\n    return;\n}\n\n","outputs":"2","noerr":0,"x":405.8055419921875,"y":1027.2593688964844,"wires":[["6266040e.a5f77c"],["899a8840.261578"]]},{"id":"22543f6a.4b592","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\n\nmsg.payload = {id:\"change_table2\", v: dataString,type: 'gateway'}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":847.5633544921875,"y":1097.3999938964844,"wires":[["4ddc4358.90093c","8c1d04d0.b48718"]]},{"id":"899a8840.261578","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":579.5633544921875,"y":1100.3999938964844,"wires":[["22543f6a.4b592"]]},{"id":"ab8d437d.ca1dc","type":"debug","z":"9bad82d3.73747","name":"","active":true,"console":"false","complete":"payload","x":1171.8133544921875,"y":1040.0093688964844,"wires":[]},{"id":"8c1d04d0.b48718","type":"debug","z":"9bad82d3.73747","name":"","active":true,"console":"false","complete":"payload","x":1183.5633544921875,"y":1106.3999938964844,"wires":[]},{"id":"a257fa80.c83378","type":"debug","z":"9bad82d3.73747","name":"","active":true,"console":"false","complete":"false","x":783.8055419921875,"y":912.0171813964844,"wires":[]},{"id":"abc64386.ef263","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"1efaaa2b.a92da6","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"352c287b.4d7588","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"}]